/* Container de centralização */
#center-card {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.center {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

/*  CONTAINER DOS 5 CARDS */
.conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

/* OVERLAY DO MODAL (texto do card) */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* CAIXA DE CONTEÚDO DO MODAL */
.modalContent {
  background-color: #634c4c;
  padding: 24px;
  border-radius: 12px;
  max-width: 620px;
  width: 90%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  height: 27%;
}

.modalTitle {
  margin: 0 0 12px 0;
  font-size: 30px;
  color: cyan;
}

.modalText {
  color: white;
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: cursive;
}

/* Botão de Fechar do Modal */
.btnClose {
  padding: 8px 16px;
  background-color: #64748b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.btnClose:hover {
  background-color: #475569;
}