.text-indica {
color: blue;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-top: 15px;
font-size: 1.5rem;
}
.Aviso {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3px;
    
}